<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: samples-header"></head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Replay 2025 - Demo Application</h5>
            <div class="list-group">
                <a href="http://localhost:8081/actuator/temporalworkerinfo"
                   class="list-group-item list-group-item-action" target="_blank">1) Actuator Worker Info Endpoint</a>
            </div>
            <div class="list-group">
                <a href="/rundemo" class="list-group-item list-group-item-action">2) Simple Rest Workflow</a>
            </div>
            <div class="list-group">
                <a href="/rundemotwo" class="list-group-item list-group-item-action">3) Batch Processing Workflow with Server-Sent Events </a>
            </div>

            <div class="list-group">
                <a href="http://localhost:8081/actuator/prometheus" class="list-group-item list-group-item-action"
                   target="_blank">4) Actuator Metrics</a>
            </div>
            <div class="list-group">
                <a href="http://localhost:8085/" class="list-group-item list-group-item-action" target="_blank">5) Grafana Dashboard</a>
            </div>
            <div class="list-group">
                <a href="http://localhost:16686/" class="list-group-item list-group-item-action" target="_blank">6) Jaeger OTEL
                    Traces</a>
            </div>
            <div class="list-group">
                <a href="http://localhost:8081/actuator/scheduledtasks" class="list-group-item list-group-item-action"
                   target="_blank">7) Actuator Backlog Count Scheduled Endpoint</a>
            </div>

            <div class="list-group">
                <br/><br/>
                <form action="/actuator/shutdown", id="sampleform">
                    <input type="submit" value="8) Actuator Graceful Shutdown" class="btn btn-primary" />
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#sampleform").submit(function( event ) {
        event.preventDefault();

        var $form = $( this ),
            url = $form.attr( "action" );
        $.ajax({
            'url': url,
            'method':'POST',
            // 'dataType': 'json',
            // 'contentType': 'application/json',
            success: function(response) {
                $( "#result" ).empty().append( response );
            }
        });
    });
</script>
</body>
</html>